.container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-areas:
    "click_area  buildings"
    "counter upgrades";
  position: relative;
}
img {
  cursor: pointer;
}
.click_this {
  grid-area: click_area;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  grid-area: counter;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buildings {
  grid-area: buildings;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}
.b_name {
  grid-area: building_name;
}
.b_amount {
  grid-area: building_amount;
}
.b_buy {
  grid-area: building_buy;
}
.upgrades {
  grid-area: upgrades;
  display: grid;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}
.building {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding: 5px 0;
  grid-template-areas:
    "building_name  building_buy"
    "building_amount building_buy";
}
.upgrade_wrap {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
.currency {
  font-size: 20px;
  padding: 5px;
}
.currency_per_second {
  padding: 5px;
  font-style: italic;
  font-size: 16px;
}
.buildings h2,
.upgrades h2 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5px;
}
button {
  cursor: pointer;
  border: none;
  background: dodgerblue;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}
.prestige {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.prestige button {
  width: 400px;
  padding: 10px;
  font-size: 30px;
}
small {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 400px;
  text-align: center;
  padding: 3px;
}
.tip {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
}
